<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lxy.dao.MenuDao" >
  <resultMap id="BaseResultMap" type="com.lxy.model.Menu" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="food_id" property="foodId" jdbcType="VARCHAR" />
    <result column="food_name" property="foodName" jdbcType="VARCHAR" />
    <result column="food_type" property="foodType" jdbcType="VARCHAR" />
    <result column="food_price" property="foodPrice" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, food_id, food_name, food_type, food_price
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from menu
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from menu
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.lxy.model.Menu" >
    insert into menu (id, food_id, food_name, 
      food_type, food_price)
    values (#{id,jdbcType=VARCHAR}, #{foodId,jdbcType=VARCHAR}, #{foodName,jdbcType=VARCHAR}, 
      #{foodType,jdbcType=VARCHAR}, #{foodPrice,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.lxy.model.Menu" >
    insert into menu
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="foodId != null" >
        food_id,
      </if>
      <if test="foodName != null" >
        food_name,
      </if>
      <if test="foodType != null" >
        food_type,
      </if>
      <if test="foodPrice != null" >
        food_price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="foodId != null" >
        #{foodId,jdbcType=VARCHAR},
      </if>
      <if test="foodName != null" >
        #{foodName,jdbcType=VARCHAR},
      </if>
      <if test="foodType != null" >
        #{foodType,jdbcType=VARCHAR},
      </if>
      <if test="foodPrice != null" >
        #{foodPrice,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lxy.model.Menu" >
    update menu
    <set >
      <if test="foodId != null" >
        food_id = #{foodId,jdbcType=VARCHAR},
      </if>
      <if test="foodName != null" >
        food_name = #{foodName,jdbcType=VARCHAR},
      </if>
      <if test="foodType != null" >
        food_type = #{foodType,jdbcType=VARCHAR},
      </if>
      <if test="foodPrice != null" >
        food_price = #{foodPrice,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lxy.model.Menu" >
    update menu
    set food_id = #{foodId,jdbcType=VARCHAR},
      food_name = #{foodName,jdbcType=VARCHAR},
      food_type = #{foodType,jdbcType=VARCHAR},
      food_price = #{foodPrice,jdbcType=DOUBLE}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>